body{
  padding: 2em 15% 2em 15%;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: #666;
}

ul {
  list-style: inside square;
  padding-left: 0;
}

ul ul {
  padding-left: 2em;
}

ul.paper-links li {
  margin: 0;
}

header {
  font-size: 0;
}

dt {
    margin: 2em 0 0 0;
    font-weight: bold;
}

dd {
    margin: 0;
}

dd p {
    margin: 0;
}

dd .paper-authorship {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

dd .paper-links {
    display: inline-block;
    width: 30%;
}

header nav {
  display: inline-block;
  width: 100%;
  right: 0;
  text-align: right;
  font-size: 1rem;
}
  header nav ul {
    margin: 0;
  }
    header nav ul li {
      display: inline-block;
      margin-left: 2em;
    }

main h1.page-title {
  font-size: 2.5em;
}

main h1 {
  margin: 2em 0 1em 0;
}

figure {
  float: right;
  margin: 0 0 2em 2em;
}

  figure img{ 
    width: 100px;
  }

  figure figcaption{ 
    display: none;
  }
