body{
  padding: 2em 25% 2em 25%;
  font-family: monospace;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #666;
}

ul {
  list-style: inside square;
  padding: 0;
}

ul li {
  margin-top: 1em;
}

header {
  font-size: 0;
}

header nav {
  display: inline-block;
  width: 100%;
  right: 0;
  text-align: right;
  font-size: 1rem;
}
  header nav ul {
    margin: 0;
  }
    header nav ul li {
      display: inline-block;
      margin-left: 2em;
    }

main h1 {
  margin: 1.5em 0 1.5em 0;
}

figure {
  float: right;
  margin: 0;
}

  figure img{ 
    width: 100px;
  }

  figure figcaption{ 
    display: none;
  }
