<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ | Uma Zalakain</title>
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="/">about me</a></li>
                <li><a href="/archive.html">posts</a></li>
                <li><a href="/contact.html">contact</a></li>
              </ul>
            </nav>
        </header>

        <main role="main">
            <h1 class="page-title">$title$</h1>
            $body$
        </main>
    </body>
</html>
