<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ | Uma Zalakain</title>
        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/static/css/syntax.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/screen.css" type="text/css" />
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="/">About me</a></li>
                <li><a href="/archive.html">Archive</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/contact.html">Contact</a></li>
              </ul>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
    </body>
</html>
